.App{
    height: 50vh;
    width: 25vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color :white;
    border-radius: 5%;
    padding-left: 4em;
    padding-right: 4em;
}